
div.hsidebar{
  display: flex;
  flex-direction: column;
}


.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family:  serif;
  font-size: 1.8rem;
  text-shadow: 2px 2px 5px black;
}

p.lead {
  font-size: 0.8rem;
  text-align: justify;
}

/* article {
  outline: auto;
  box-shadow: 2px 2px 10px;
} */

.emoji {
  height: 1.4em;
  vertical-align: text-bottom;
}

